{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/tickets.css') }}">
{% endblock %}

{% block body %}
    <div class="content snow">
        <h1 class="text-center">À propos de {{ user.username }}</h1>
        <div class="row">
            <div id="about" class="col-md-10 offset-md-1">
                {{ dump(user) }}
                {{ dump(app.request.get('_route')) }}
                {{ dump('_list') }}
            </div>
        </div>
    </div>
{% endblock %}