{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block body %}
    <div class="content snow">
        <h1 class="text-center">À propos de {{ user.username }}</h1>
        <div class="row">
            <div id="about" class="col-md-10 offset-md-1">
                <div class="about-img">
                    <p><img src="{{ asset('images/' ~ user.image) }}"></p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <p class="text-center"><a class="btn custom" href="#">Modifier l'auteur</a></p>
                    {% endif %}
                </div>
                <div class="about-desc">
                    <p>{{ user.description }}</p>
                </div>
            </div>
        </div>
        <p class="text-center"><a class="btn custom" href="#">Contacter</a></p>
    </div>
{% endblock %}