{% extends 'base.html.twig' %}

{% block title %}Billet {{ ticket.id }} - {{ ticket.title }}{% endblock %}

{% block body %}
    <div class="content snow">
        <div class="row">
            <div id="ticket" class="col-md-10 offset-md-1">
                {% for message in app.flashes('add_comment') %}
                    <div class="flash-notice alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('flag') %}
                    <div class="flash-notice alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="ticket_header">
                    <h1>{{ ticket.id }}. {{ ticket.title }}</h1>
                    <p>Écrit par {{ ticket.author.username }}</p>
                </div>
                <p><img src="{{ asset('images/' ~ ticket.image) }}" alt="{{ ticket.alt }}" class="img"></p>
                <p>{{ ticket.content|raw }}</p>
                <div class="ticket_infos">
                    <p>
                        <span>Publié le {{ ticket.createdAt ? ticket.createdAt|date('d/m/Y à H:i:s') : '' }}</span><br>
                        {% if ticket.updatedAt is not null %}
                            <span>Mis à jour le {{ ticket.updatedAt ? ticket.updatedAt|date('d/m/Y à H:i:s') : '' }}</span>
                        {% endif %}
                    </p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div id="actions" class="col-md-10 offset-md-1">
                <p class="text-center"><a class="btn custom" href="{{ path('home') }}">Retour à l'accueil</a></p>
                <div class="action">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn custom" href="{{ path('ticket_edit', {'id': ticket.id}) }}">Modifier le billet</a>
                        {{ include('admin/ticket_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div id="comments" class="col-md-8 offset-md-2">
                <h2>Ajouter un commentaire</h2>
                {{ include('alaska/comment_form.html.twig') }}
                <br>
                <h2>Commentaires</h2>
                {% for comment in ticket.comments %}
                    <div class="comment">
                        <div class="comment_info">
                            <p>Pseudo : {{ comment.pseudo }}</p>
                            <p>Posté le : {{ comment.createdAt|date('d/m/Y à H:i:s') }}</p>
                        </div>
                        <p>Message : {{ comment.message }}</p>
                        <p class="text-center">
                            {% if comment.flag %}
                                Ce commentaire a déjà été signalé
                            {% else %}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom" data-toggle="modal" data-target="#flagModal{{ comment.id }}">
                                    Signaler le commentaire
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="flagModal{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel{{ comment.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="flagModalLabel{{ comment.id }}"><b>Êtes-vous certains de vouloir signaler ce commentaire ?</b></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ comment.message }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn custom" data-dismiss="modal">Annuler</button>
                                                <a class="btn custom" href="{{ path('flag', { id: comment.id }) }}">Confirmer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </p>
                        <hr>
                    </div>
                {% endfor %}
                <p class="text-center"><a class="btn custom" href="{{ path('home') }}">Retour à l'accueil</a></p>
            </div>
        </div>
    </div>
{% endblock %}