{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="content snow">
        <h1 class="text-center">Administration</h1>
        <div class="row">
            <div id="admin" class="col-md-10 offset-md-1">
                {{ dump(tickets) }}
                {{ dump(comments) }}
                {{ dump(users) }}
            </div>
        </div>
    </div>
{% endblock %}