{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="content snow">
        <h1 class="text-center">Administration</h1>
        {% for message in app.flashes('edit_ticket') %}
            <div class="alert alert-warning flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('delete_ticket') %}
            <div class="alert alert-danger flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('unflag') %}
            <div class="alert alert-success flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('comment_delete') %}
            <div class="alert alert-danger flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('edit_user') %}
            <div class="alert alert-warning flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('edit_user_pass') %}
            <div class="alert alert-warning flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div id="admin" class="col-md-10 offset-md-1">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="tickets-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets" aria-selected="true">Billets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Commentaires signalés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Utilisateurs</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    {{ include('admin/tickets.html.twig') }}
                    {{ include('admin/comments.html.twig') }}
                    {{ include('admin/users.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}