{% extends 'base.html.twig' %}

{% block title %}Modifier un billet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/tickets.css') }}">
{% endblock %}

{% block body %}
    <div class="content snow">
        <h1 class="text-center">Modifier un billet</h1>
        <div class="row">
            <div id="ticket" class="col-md-10 offset-md-1">
                {{ include('admin/ticket_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                <br>
                {{ include('admin/ticket_delete_form.html.twig') }}
            </div>
        </div>
        <br>
        <p class="text-center"><a class="btn custom" href="{{ path('home') }}">Accueil</a></p>
    </div>

{% endblock %}