{% extends 'base.html.twig' %}

{% block title %}Liste des billets{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/tickets.css') }}">
{% endblock %}

{% block body %}
    <div class="content snow">
        <h1 class="text-center">Liste des billets</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('ticket_new') }}">Ajouter un billet</a>
        {% endif %}
        <div class="row">
            <div id="tickets" class="col-md-10 offset-md-1">
                {% for ticket in tickets %}
                    <div class="ticket-header">
                        <h3><a href="{{ path('ticket_show', {'id': ticket.id}) }}">{{ ticket.id }}. {{ ticket.title }}</a></h3>
                        <p>{{ ticket.author }}</p>
                    </div>
                    <p><img src="{{ asset('images/' ~ ticket.image) }}" alt="{{ ticket.alt }}" class="img"></p>
                    <p>{{ ticket.content|slice(0, 300)|raw }}... <a href="{{ path('ticket_show', {'id': ticket.id}) }}">Lire la suite</a></p>
                    <span>Publié le {{ ticket.createdAt ? ticket.createdAt|date('d/m/Y H:i:s') : '' }}</span>
                    <span>Mis à jour le {{ ticket.updatedAt ? ticket.updatedAt|date('d/m/Y H:i:s') : '' }}</span>
                    {% if(ticket.nbComments > 0) %}
                        <span>{{ ticket.nbComments }} Commentaires</span>
                    {% else %}
                        <span>{{ ticket.nbComments }} Commentaire</span>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <p><a href="{{ path('ticket_edit', {'id': ticket.id}) }}">Modifier le billet</a></p>
                    {% endif %}
                    <br><br>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Aucun billet pour le moment
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}