{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <div class="content snow">
        <div class="row">
            <div id="ticket" class="col-md-10 offset-md-1">
                <div class="ticket_header">
                    <h1>{{ ticket.id }}. {{ ticket.title }}</h1>
                    <p>Écrit par {{ ticket.author.username }}</p>
                </div>
                <p><img src="{{ asset('images/' ~ ticket.image) }}" alt="{{ ticket.alt }}" class="img"></p>
                <p>{{ ticket.content|raw }}</p>
                <div class="ticket_infos">
                    <p><span>Publié le {{ ticket.createdAt ? ticket.createdAt|date('d/m/Y à H:i:s') : '' }}</span><br><span>Mis à jour le {{ ticket.updatedAt ? ticket.updatedAt|date('d/m/Y à H:i:s') : '' }}</span></p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <p><a href="{{ path('ticket_edit', {'id': ticket.id}) }}">Modifier le billet</a></p>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            <div id="actions" class="col-md-10 offset-md-1">
                <p class="text-center"><a class="btn custom" href="{{ path('home') }}">Retour à l'accueil</a></p>
                <div class="action">
                    <a class="btn custom" href="{{ path('ticket_edit', {'id': ticket.id}) }}">Modifier le billet</a>
                    {{ include('ticket/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div id="comments" class="col-md-8 offset-md-2">
                <h2>Commentaires</h2>
                {% for comment in ticket.comments %}
                    <div class="comment">
                        <div class="comment_info">
                            <p>Pseudo : {{ comment.pseudo }}</p>
                            <p>Posté le : {{ comment.createdAt|date('d/m/Y à H:i:s') }}</p>
                        </div>
                        <p>Message : {{ comment.message }}</p>
                        <hr>
                    </div>
                {% endfor %}
                <p class="text-center"><a class="btn custom" href="{{ path('home') }}">Retour à l'accueil</a></p>
            </div>
        </div>
    </div>
{% endblock %}